cross

nop.img

*.out
*/*.out
*/*/*.out
*/*/*/*.out
*/*/*/*/*.out
*/*/*/*/*/*.out
*/*/*/*/*/*/*.out

*.o
*/*.o
*/*/*.o
*/*/*/*.o
*/*/*/*/*.o
*/*/*/*/*/*.o
*/*/*/*/*/*/*.o

*.elf
*/*.elf
*/*/*.elf
*/*/*/*.elf
*/*/*/*/*.elf
*/*/*/*/*/*.elf
*/*/*/*/*/*/*.elf
